#div_a_modifier{
	margin: 250px auto;
	background-color: blue;
	border: 1px solid black;
	height: 100px;
	width: 100px;
}


.titre{
	margin: 40px 0 0 550px;
}

.instruction{
	margin: 10px 0 0 400px;
}
